*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-color: #030303;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    width: 80%;
    height: 10vh;
}

.navbar{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2em;
}

.nav-item{
    list-style: none;
    padding: 5px 0px;
}

.active{
    border-bottom: #22D4FD 1px solid;
}

.nav-item a{
    text-decoration: none;
    color: #22D4FD;
    font-size: 1.2em;
    font-weight: 600;
}

.nav-item a:hover{
    opacity: 0.77;
}

.navbar span{
    margin-right: 10%;
    color: #f6f6f6;
    cursor: pointer;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 80%;
    height: 80vh;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    width: 50%;
    height: 70%;

    transition: all ease-in-out 0.5s;

} 

.text-wrapper h1{
    font-size: 3em;
    padding-bottom: 1em;
}

.text-wrapper p{
    font-size: 1.5em;
    padding-bottom: 2em;
}

.text-wrapper h2{
    text-align: left;
    width: 100%;
    margin-bottom: 1em;

    font-weight: 400;
}

span{
    color: #22D4FD;
}


.socials{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2em;

    width: 100%;
    height: 8vh;
    
}

.socials a{
    text-decoration: none;
    color: #eee;

    border: 1px solid #22D4FD;
    padding: 20px 60px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

.socials a:hover{
    background-color: #22D4FD;
    border: 1px solid #030303;
    color: #030303;
}

.socials a:hover .social-icon{
    filter: brightness(0);
}

.img-wrapper{
    height: 70%;
    width: 50%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.img-wrapper img{
    height: 100%;
    width: auto;
    
    box-shadow: 20px -20px #22D4FD ;

}

footer{
    width: 100%;
    height: 8vh;
}