*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-color: #030303;
    color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 80%;
    height: 70%;

}

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    width: 50%;
    height: 60%;

    transition: all ease-in 0.5;

} 

.text-wrapper h1{
    padding-bottom: 2em;
}

span{
    color: #22D4FD;
}

.text-wrapper p{
    padding-bottom: 2em;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2em;

    width: 100%;
    height: 8vh;
    
}

.socials a{
    text-decoration: none;
    color: #eee;

    border: 1px solid #22D4FD;
    padding: 20px 60px;
}

.socials a:hover{
    background-color: #22D4FD;
    border: 1px solid #030303;
    color: #030303;
}

.img-wrapper{
    height: 60%;
    width: 50%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.img-wrapper img{
    height: 100%;
    width: auto;
    
    box-shadow: 20px -20px #22D4FD ;

}


